<div class="bg min-h-screen flex flex-col">
  <div class="max-w-sm mx-auto flex justify-center items-center px-2 m-auto">
    <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
      <h1 class="mb-8 text-3xl uppercase text-center">Login</h1>
      <form [formGroup]="loginForm">
        <input
          type="text"
          class="block w-100 border border-grey-light p-3 rounded mb-4"
          name="email"
          placeholder="Email"
          formControlName="email"
        />
        <small
          *ngIf="loginForm.controls.email.invalid && isSubmitted"
          class="p-error"
        >
          Email is required</small
        >
        <input
          type="password"
          class="block border border-grey-light w-full p-3 rounded mb-4"
          name="password"
          placeholder="Password"
          formControlName="password"
        />
        <small
          *ngIf="loginForm.controls.password.invalid && isSubmitted"
          class="p-error"
        >
          Password is required</small
        >
        <input
          type="name"
          class="block border border-grey-light w-full p-3 rounded mb-4"
          name="name"
          placeholder="Name"
          formControlName="name"
        />
        <small
          *ngIf="loginForm.controls.name.invalid && isSubmitted"
          class="p-error"
        >
          Name is required</small
        >
        <input
          type="username"
          class="block border border-grey-light w-full p-3 rounded mb-4"
          name="username"
          placeholder="Username"
          formControlName="username"
        />
        <small
          *ngIf="loginForm.controls.username.invalid && isSubmitted"
          class="p-error"
        >
          Username is required</small
        >
      </form>
      <button
        type="submit"
        class="w-full text-center py-3 rounded border border-grey-light bgButton text-white my-1"
        (click)="onSubmit()"
      >
        Login
      </button>
    </div>
  </div>
</div>
