<div class="admin-page">
  <p-card header="Users" subheader="List of all users">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <button
            pButton
            (click)="display = true"
            class="p-button-success"
            aria-current="page"
            icon="pi pi-check"
            label="New"
          ></button>
        </div>
        <div class="col-12">
          <table class="w-100">
            <tr>
              <th>Name</th>
              <th>Id</th>
              <th>Email</th>
              <th></th>
            </tr>
            <tr *ngFor="let user of users">
              <td>{{ user.name }}</td>
              <td>{{ user.id }}</td>
              <td>{{ user.email }}</td>

              <button
                (click)="deleteUser(user.id)"
                class="mr-2 p-button-danger"
                pButton
                type="button"
                icon="pi pi-trash"
                iconPos="left"
              ></button>
              <button
                (click)="display = true; editMode = true"
                class="p-button-success"
                pButton
                type="button"
                icon="pi pi-pencil"
                iconPos="left"
              ></button>
              <p-dialog
                [header]="editMode ? 'Edit Category' : 'Add Category'"
                [(visible)]="display"
              >
                <div class="admin-page">
                  <div>
                    <div class="row">
                      <div class="col-12">
                        <div class="btn-group">
                          <button
                            pButton
                            (click)="
                              editMode ? editUser(user.id) : createUser()
                            "
                            class="mr-2 p-button-success"
                            aria-current="page"
                            icon="pi pi-check"
                            [label]="editMode ? 'Edit' : 'Add'"
                          ></button>
                          <button
                            class="p-button-danger"
                            pButton
                            icon="pi pi-angle-double-left"
                            (click)="display = false"
                            aria-current="page"
                            label="Cancel"
                          ></button>
                        </div>
                      </div>
                    </div>

                    <form [formGroup]="form">
                      <div class="row">
                        <div class="p-fluid col-4">
                          <div class="p-field">
                            <label for="name">Name</label>
                            <input
                              formControlName="name"
                              id="name"
                              type="text"
                              pInputText
                            />
                            <small
                              *ngIf="form.controls.name.invalid && isSubmitted"
                              class="p-error"
                            >
                              Name is required</small
                            >
                          </div>
                        </div>
                        <div class="p-fluid col-4">
                          <div class="p-field">
                            <label for="email">Email</label>
                            <input
                              formControlName="email"
                              id="email"
                              type="text"
                              pInputText
                            />
                          </div>
                        </div>
                        <div *ngIf="!editMode" class="p-fluid col-4">
                          <div class="p-field">
                            <label for="email">Id</label>
                            <input
                              formControlName="id"
                              id="id"
                              type="text"
                              pInputText
                            />
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </p-dialog>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </p-card>
</div>
<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>
