<p-toast></p-toast>
<div class="admin-page">
  <p-card [header]="editMode ? 'Edit Category' : 'Add Category'">
    <div class="row">
      <div class="col-12">
        <div class="btn-group">
          <button
            pButton
            (click)="onSubmit()"
            class="mr-2 p-button-success"
            aria-current="page"
            icon="pi pi-check"
            [label]="editMode ? 'Edit' : 'Add'"
          ></button>
          <button
            class="p-button-danger"
            pButton
            icon="pi pi-angle-double-left"
            routerLink="/categories"
            aria-current="page"
            label="Cancel"
          ></button>
        </div>
      </div>
    </div>

    <form [formGroup]="form">
      <div class="row">
        <div class="p-fluid col-4">
          <div class="p-field">
            <label for="name">Name</label>
            <input formControlName="name" id="name" type="text" pInputText />
            <small
              *ngIf="form.controls.name.invalid && isSubmitted"
              class="p-error"
            >
              Name is required</small
            >
          </div>
        </div>
        <div class="p-fluid col-4">
          <div class="p-field">
            <label for="type">Type</label>
            <input formControlName="type" id="type" type="text" pInputText />
          </div>
        </div>
      </div>
    </form>
  </p-card>
</div>
